* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: auto;
    max-width: 500px;
    text-align: center;
}

body {
    font-size: 16px;
}

.header h3 {
    margin: 5px;
}

.mainContainer {
    /* border: 1px solid black; */
    margin: 20px;
    height: fit-content;
    width: 400px;
    margin: 10px auto;
}

.gameLeadContainer {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px 1fr;
    grid-template-rows: 1fr 1fr;
}

.player1 {
    grid-area: 1 / 2 / 2 / 3;
}

.roundCounter {
    grid-area: 1 / 3 / 2 / 4;
}

.player2 {
    grid-area: 1 / 4 / 2 / 5;
}

.gameStart {
    grid-area: 2 / 2 / 3 / 3;
    margin: 5px;
    opacity: 0.5;
    pointer-events: none;
}

.gameReset {
    grid-area: 2 / 4 / 3 / 5;
    margin: 5px;
}

.gameField {
    border: 2px solid black;
    padding: 10px;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

.field {
    height: 100px;
    width: 100px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field.disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: #ccc;
  }

#one.field,
#two.field,
#four.field,
#five.field {
    border-right: dotted 1px black;
    border-bottom: dotted 1px black;
}

#three.field,
#six.field {
    border-bottom: dotted 1px black;
}

#seven.field,
#eight.field {
    border-right: dotted 1px black;
}

.gameScoreContainer {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px 1fr
}

.player1GameScore {
    grid-area: 1 / 2 / 2 / 3;
}

.player2GameScore {
    grid-area: 1 / 4 / 2 / 5;
}